<section class="section">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h2 class="title is-2">Log in</h2>
      <form class="" action="/login" method="post">


        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="email" type="email" placeholder="Your email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="password" type="password" placeholder="password" value="">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-center">Log in</button>
          </div>
        </div>
        <div class="is-center">
          <hr/>
          <p>Don't have an account?</p>
          <p><a href= "/register">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
