<nav>
  <ul>
    <%# <li><a href="/">Home</a></li> %>
    <li><a href="/instagram">All the posts</a></li>
    <%# <li><a href="/explore">Explore</a></li> %>
    <input type="text" autocapitalize="none" placeholder="Search" value>
    <% if (locals.isLoggedIn) { %>
      <li><a href="/profile/<%= locals.currentUser._id %>">My profile</a></li>
      <li><a href="/instagram/new">Create a new post</a></li>
      <li><a href="/logout">Log out of <%= locals.currentUser.username %></a></li>
    <% } else { %>
      <li><a href="/login">Log in</a></li>
      <li><a href="/register">Sign up for more</a></li>
    <% } %>
  </ul>
</nav>
