<form action="/instagram" method="post">
  <div class="control">
    <label for="name">Username</label>
    <input name="addedBy" id="name" type="hidden" value="<%= locals.currentUser._id %>"/>
  </div>
  <div class="control">
    <label for="name">Caption</label>
    <input name="caption" id="name" placeholder="Write a caption">
  </div>
  <div class="control">
    <label for="name">Image (URL)</label>
    <input name="image" id="name" placeholder="http://...">
  </div>
  <div class="control">
    <label for="location">Location</label>
    <input name="location" id="location" placeholder="Location">
  </div>

  <button class="button">Share</button>
</form>
