<main>
  <h1>Feed</h1>
  <div class="feed-grid">
    <% instagram.forEach(instagram => { %>
      <div>
      <a href="/instagram/<%= instagram.id %>">
      <img width="200px" height="200px" src="<%= instagram.image %>" />
      <h3><%= instagram.name %></h3>
      </a>
      </div>
      <% }) %>
  </div>
</main>
