<h1>This is the header</h1>
<nav>
  <ul>
    <li><a href="/explore">Explore</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/instagram/new">Create a new post</a></li>
    <li><a href="/instagram">All the posts</a></li>
    <% if (locals.isLoggedIn) { %>
      <li><a href="/logout">Log out <%= locals.currentUser.username %></a></li>
    <% } else { %>
      <li><a href="/login">Log in</a></li>
      <li><a href="/register">Sign up for more</a></li>
    <% } %>
  </ul>
</nav>
